* {
  margin: 0;
  padding: 0;
}

body,
.bodyfont {
  font-family: 'Work Sans',
    sans-serif;
}

.app {
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6, .headlinefont {
  font-family: 'Crimson Text',
    serif;
}

/* utility classes */
.bg-dark-brand {
  background-color: #004C9D;
}

.bg-brand-light {
  background-color: #EBF5FF;
}

.text-tomato {
  color: tomato;
}

.bg-brand {
  background-color: #007BFF;
}

/* end of utility classes */

.income {
  color: #E8FAEC !important;
}

.expense {
  color: #FFB1B1 !important;
}

/* items */
.items {
  list-style-type: none;
}

.item {
  cursor: pointer;
  transition: .3s;
  position: relative;
  /* padding: 5px; */
}

.item:hover {
  background-color: #001327;
  color: #003976 !important;
  /* opacity: .5; */
}

.item .icons {
  position: absolute;
  right: 20px;
  top: 0;
  visibility: hidden;
}

.item:hover .icons {
  visibility: visible;
  z-index: 1;
}

.income span,
.expense span {
  font-size: 18px;
}

/* form */
input,
select {
  height: 55px !important;
  border-radius: 0 !important;
  border: 1px solid #222 !important;
}